/* Full-Width Image */
.projects-banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.projects-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Text Overlay on Image */
.image-text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    box-sizing: border-box;
}

.image-text-overlay p {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin: 0;
    width:65%;
    margin-left:50px
}

/* Projects Section */
.projects-section .container {
    max-width: 1180px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Project Description */
.projects-description {
    margin-top: 50px;
    text-align: left;
}

.description-text {
    font-size: 16px;
    color: #555;
    line-height: 1.8;
}

/* Spotlight Projects Section */
.spotlight-section {
    padding: 40px 0;
}

.custom-container {
    max-width: 1180px;
    margin: 0 auto;
}

.spotlight-title {
    font-size: 28px;
    font-weight: bold;
}

/* News Cards Section */
.news-cards {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-text {
    font-size: 14px;
    color: #707070;
    margin-top: 10px;
}

.custom-button {
    font-size: 18px;
    font-weight: bold;
    color: #6f459c;
    text-decoration: none;
    transition: all 0.3s ease;
}

.custom-button:hover {
    color: #333;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .projects-title {
        font-size: 24px;
    }

    .description-text {
        font-size: 16px;
    }
}

.news-section {
    padding: 0 ;
    margin-top: 0px !important;
}