body {
    font-family: 'Lato', sans-serif;
}

.back-arrow {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.job-header {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-header h2 {
    font-weight: bold;
    margin: 0;
}

.job-header button {
    background-color: #17004c;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    width:199px;
    height: 40px;
}

.job-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.job-detail-item {
    position: relative;
    padding-right: 20px;
}

.job-detail-item:not(:last-child):not(.deadline)::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 1px;
    background-color: #ccc;
}

.job-detail-item span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.job-description {
    margin-top: 40px;
}

.job-description h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.duties-requirements {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.duties-requirements div {
    width: 45%;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 2px;
}

@media (max-width: 768px) {
    .job-details {
        grid-template-columns: 1fr;
    }

    .duties-requirements div {
        width: 100%;
    }
}

.vacancy {
    width: 1180px;
    padding: 0 20px;
}

.vacancy-section {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.dutiesRequiemnts{
    font-size: 24px;
    font-weight: bold
}

.vacancy-line {
    margin-top:30px;
    height: 2px
}

.vacancy-title{
    font-size:24px;
    font-weight: bold
}

#jobDescription{
    margin-bottom:10px
}